.linkit {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.linkit a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10%;
    background-color: #D3D5D7;
}
.linkit a:nth-child(odd) {
    background-color: #E98A15;
}

/*Pienempi fontti puhelimella*/
@media only screen and (max-width: 900px){
    .linkit a {
        font-size: 1em;
    }
}