.qr{
    height: 100px;
    width: 100px;
}
.basic_text{
    background: #012622;
    color: #D3D5D7;
    font-family: "Courier New";
    font-size: medium;
    }
.headline{
    color: #E98A15;
    font-size: 40;
}
